nvidia-cuda-runtime-cu12==12.4.127
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cudnn-cu12==8.9.4.25
pandas
numpy
joblib
ruamel.yaml
xgboost
python-tds
python-dotenv
scikit-learn
tqdm
optuna
charset-normalizer